<h1> <%= @doctor.name%></h1>

<% if @doctor.patients().any?() %>
  <h3>Here are all the patients for this doctor:</h3>

  <ul>
    <% @doctor.patients().each() do |patient| %>
      <li><%= patient.name() %></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no patients for this doctor.</p>
  <% end %>

<h3>Add a patient to <%= @doctor.name() %> </h3>

<form action="/doctors/<%= @doctor.id() %>" method="post">
  <input id="doctor_id" name="doctor_id" type="hidden" value="<%= @doctor.id() %>">

  <label for="name">Patient Name:</label>
  <input id="name" name="name" type="text">
  <label for="birthday">Patient Birthday (year-month-day):</label>
  <input id="birthday" name="birthday" type="text">

  <button type="submit">Add patient</button>
</form>

<hr>

<div class="container">
  <a href="/">Return Home</a>
  <a href="/doctors">View All Doctors</a>
</div>
